<h2>ジャンル一覧</h2>

<p><%= link_to "観光",  users_posts_path(genre_search: "sightseeing") %></p>
<p><%= link_to "景色",  users_posts_path(genre_search: "view") %></p>
<p><%= link_to "宿泊",  users_posts_path(genre_search: "hotel") %></p>
<p><%= link_to "その他",  users_posts_path(genre_search: "other") %></p>